/* DIMENSIONS */
$base-width: 102.4rem;

/* COLORS */

$base-color-grey: #eeeeee;
$base-color-green: #0ca49a;
$base-color-border: #d9d9d9;

$base-color-orange: #FD7400;

/* TEXT COLORS PALETTE */

$base-font-color: #5f6062;




